<!-- <div id="centrer" class="center-div">
  <div id="piano">
    <div class="keys">
      <div class="key" (click)="jouerNote('C4')">
        <span class="note-name"> DO </span>
      </div>
      <div class="key black black1" (click)="jouerNote('Db4')"></div>
      <div class="key" (click)="jouerNote('D4')">
        <span class="note-name"> RE </span>
      </div>
      <div class="key black black3" (click)="jouerNote('Eb4')"></div>
      <div class="key" (click)="jouerNote('E4')">
        <span class="note-name"> MI </span>
      </div>
      <div class="key" (click)="jouerNote('F4')">
        <span class="note-name"> FA</span>
      </div>
      <div class="key black black1" (click)="jouerNote('Gb4')"></div>
      <div class="key" (click)="jouerNote('G4')">
        <span class="note-name"> SOL </span>
      </div>
      <div class="key black black2" (click)="jouerNote('Ab4')"></div>
      <div class="key" (click)="jouerNote('A4')">
        <span class="note-name"> LA </span>
      </div>
      <div class="key black black3" (click)="jouerNote('Bb4')"></div>
      <div class="key" (click)="jouerNote('B4')">
        <span class="note-name"> SI </span>
      </div>
    </div>
  </div>
</div> -->
<div id="piano"></div>
