<div id="centrer" class="center-div">
  <div id="piano">
    <div class="keys">
      <div class="key" (click)="jouerNote('DO')">
        <span class="note-name"> DO </span>
      </div>
      <div class="key black black1" data-key="1"></div>
      <div class="key" (click)="jouerNote('RE')">
        <span class="note-name"> RE </span>
      </div>
      <div class="key black black3" data-key="3"></div>
      <div class="key" (click)="jouerNote('MI')">
        <span class="note-name"> MI </span>
      </div>
      <div class="key" (click)="jouerNote('FA')">
        <span class="note-name"> FA</span>
      </div>
      <div class="key black black1" data-key="6"></div>
      <div class="key" (click)="jouerNote('SOL')">
        <span class="note-name"> SOL </span>
      </div>
      <div class="key black black2" data-key="8"></div>
      <div class="key" (click)="jouerNote('LA')">
        <span class="note-name"> LA </span>
      </div>
      <div class="key black black3" data-key="10"></div>
      <div class="key" (click)="jouerNote('SI')">
        <span class="note-name"> SI </span>
      </div>
    </div>
  </div>
</div>
